version: '3.9'

volumes:
  mariadb:
    name: mariadb
    driver: local
    driver_opts:
      device: ${DATA_DIR}/mariadb
      o: bind
      type: none

  wordpress:
    name: wordpress
    driver: local
    driver_opts:
      device: ${DATA_DIR}/wordpress
      o: bind
      type: none

services:
  redis:
    build: redis
    image: redis
    container_name: redis
    networks:
      - private_network
    restart: always
    pull_policy: build

  mariadb:
    build: mariadb
    image: mariadb
    container_name: mariadb
    networks:
      - private_network
    volumes:
      - mariadb:/var/lib/mysql
    restart: always
    environment:
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - DB_ROOT_PASSWORD
    pull_policy: build

  wordpress:
    build: wordpress
    image: wordpress
    container_name: wordpress
    networks:
      - private_network
    volumes:
      - wordpress:/var/www/wordpress
    depends_on:
      - mariadb
      - redis
    restart: always
    environment:
      - DB_NAME
      - DB_USER
      - DB_PASSWORD
      - DB_HOST
      - WP_URL
      - WP_TITLE
      - WP_ADMIN_USER
      - WP_SECOND_USER
      - WP_USER_PASSWORD
    pull_policy: build

  nginx:
    build: nginx
    image: nginx
    container_name: nginx
    ports:
      - 443:443
    volumes:
      - wordpress:/var/www/wordpress
    depends_on:
      - wordpress
    networks:
      - private_network
    restart: always
    pull_policy: build

networks:
  private_network:
    name: private_network
